.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 2.5rem;
    line-height: 1;
}
span.none{
    display: none;
}

span.up{
    color: green
}

span.down{
    color: red;
    transform: rotate(180deg);
}