/* You can add global styles to this file, and also import other style files */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.w50{
    width: 50%;
}