<div class="container">
    <div class="title flex space-between">
        <h3>{{stock.name}}</h3>
       <div> <button (click)="handleRemoveClick()">X</button>
       </div>
    </div>
    <div class="flex space-between">
        <div class="flex space-between w50">
            <div class="w50">
                <p>Change today: {{stock.todayChange | percent}}</p>
                <p>Current price: {{stock.currentPrice | currency}}</p>
            </div>
            <div class="w50">
                <p>Opening price: {{stock.openingPrice | currency}}</p>
                <p>High price: {{stock.highPrice | currency}}</p>
            </div>
        </div>
        <div class="flex center w50">
            <span>🢁</span>
        </div>
    </div>

    <a [routerLink]="'/sentiment/' + stock.name">
        <button>Go to sotial sentiment details</button>
    </a>
</div>
