.container{
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.w50{
    width: 50%;
}