<h1>Stock Tracker</h1>
<div class="container">
    <form [formGroup]="stockFinderForm" (ngSubmit)="trackStock()">
        <div>
            <label for="symbol">Enter the symbol of the stock to track (i.e. AAPL, TSLA, GOOGL)</label>
        </div>
        <input id="symbol" type="text" formControlName="symbol"/>
        
        <input type="submit"  value="Track Stock" [disabled]="stockFinderForm.invalid || stockFinderForm.pending"/>
        <p *ngIf="stockFinderForm.get('symbol')?.errors !== null">
            {{stockFinderForm.get("symbol")?.errors | json}}
        </p>
    </form>
</div>

<app-stock *ngFor="let trackedStock of trackedStocks; index as i" [symbolLookup]="trackedStock" (remove)="removeStock(i)"></app-stock>